.logOn,
.register {
    border: 0.1rem solid var(--secondary);
    border-radius: 1rem;
    height: 4rem;
    width: 15rem;
    margin-right: 2rem;
    text-transform: uppercase;
}

.logOn:hover,
.register:hover {
    border: 0.2rem solid var(--buttons)
}

.noUser {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.mje {
    font-size: larger;
    margin-bottom: 2rem;
}