.videoContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
  }
  
  .logo {
    max-width: 300px;
    margin-bottom: 40px;
  }
  
  .button {
    display: block;
    margin: 0 auto 20px;
    padding: 8px 18px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #4c4949;
    background-color: #e7c52b;
    border: none;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #6b716b;
    color: wheat;
  }
  