.title {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 1px;
}

.table {
    width: 100%;
    border-collapse: separate;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid gainsboro;
    font-size: medium;
}

.table th {
    background-color: gainsboro;
    font-weight: bold;
}