.detallesTotal,
.toPay {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.prodDetails {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    border: 0.1rem solid var(--highlights);
    padding: 1rem;
    margin-bottom: 2rem;
}

.imgProd {
    height: 5rem;
}

.elige {
    margin: 3rem;
}

.buttonPay {
    border: none;
    width: 25rem;
    cursor: pointer;
}

.userDetails,
.prodDetails {
    padding: 2rem;
    border: 1px solid var(--buttons);
    font-size: medium;
}

.nameMiniProd {
    font-size: small;
    font-weight: 600;
}

.priceMiniProd {
    font-size: small;
    font-weight: 500;
    color: var(--warnings);
}

.total {
    font-size: medium;
    margin-top: 2rem;
    color: var(--warnings);
}