.divReview {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    border: 0.1rem solid var(--highlights);
    padding: 1rem;
    margin-bottom: 2rem;
}

.nameProd {
    font-size: larger;
    font-weight: 700;
}

.imgProd {
    height: 8rem;
    margin-left: -9rem;
}

.title {
    padding: 10px;
    background-color: var(--buttons);
    width: 100%; /* Asegura que ocupe todo el ancho del .profilecontainer */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    border: 3px solid var(--buttons);
    border-radius: 0.5rem;
    color: var(--primary);
  }