.detailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-right: 10rem;
  margin-left: 9rem;
  margin-bottom: 3rem;
  border: 4rem solid #f4c434;
  border-radius: 5px;
  padding: 5rem;
  padding-left: 1rem;
}

.detailContainer img {
  max-width: 50%;
  padding-right: 100px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bababa;
  font-size: 1.5rem;
  padding: 4rem;
  border-radius: 0.5rem;
  width: 60%;
  height: fit-content;
}


.addToCart {
  cursor: pointer;
  background-color: #f4c434;
  border: none;
  color: white;
  padding: 1.4rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: .4rem .2rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: .5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.addToCart:hover {
  background-color: white;
  color: black;
  border: 2px solid #f4c434;
}

@media (max-width: 770px) {
  .detailContainer {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 2rem solid #f4c434;
    border-radius: 5px;
    padding: 2rem;
    padding-left: 1rem;
  }

  .detailContainer img {
    width: 15rem;
    margin-left: 4rem;
  }

  .infoContainer {
    font-size: 1.5rem;
    padding: 4rem;
    border-radius: 0.5rem;
    width: 60%;
    height: fit-content;
  }

  .infoContainer h1 {
    font-size: 2rem;
  }

}

@media (max-width: 390px) {

  .detailContainer img {
    width: 10rem;
    margin-left: 6rem;
  }

  .infoContainer h1 {
    font-size: 1.5rem;
  }

}