.filtroCat,
.filtroMarca {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 7px;
    align-items: center;
    color: rgba(0, 0, 0, .9);
    border: 1px solid var(--secondary);
    margin-bottom: 1rem;
    width: 27rem;
}

.filtroCat select,
.filtroMarca select {
    border: none;
    font-size: medium;
    cursor: pointer;
}

.orderTitle {
    font-size: medium;
}